<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Organizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Bookmark Organizer</h1>
        <div id="file-upload">
            <label for="bookmark-file" class="custom-file-upload">
                <i class="fas fa-file-upload"></i> Choose File
            </label>
            <input type="file" id="bookmark-file" accept=".html">
            <span id="file-name"></span>
        </div>
        <button id="organize-bookmarks" disabled>Organize Bookmarks</button>
        <div id="spinner" class="spinner" style="display:none;"></div>
        <div id="bookmark-counter" style="display:none; text-align: center; margin-top: 10px;"></div>
        <div id="processed-bookmarks-container" style="display:none;">
            <h2>Processed Bookmarks</h2>
            <ul id="processed-bookmarks-list"></ul>
        </div>
        <div id="download-section" style="display:none;">
            <button id="-json">Download Organized Bookmarks</button>
        </div>
        <footer>
            <a href="https://github.com/isaacgemal" target="_blank" class="social-link github-link">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
            <a href="https://x.com/Aizkmusic" target="_blank" class="social-link twitter-link">
                <i class="fa-brands fa-x-twitter"></i> Twitter
            </a>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
